<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moisture Levels</title>

    <style>
        body {
            margin: 0;
        }
        .container {
            
        }
        .moisture-level {
            padding: 10px;
            color: white;
        }
    </style>
  </head>
  <body>
    <div class="container">
      {% for moisture_level in moisture_levels %}
        <div class="moisture-level" {% if moisture_level.saturated %} style="background-color: #6eeb34;" {% else %} style="background-color: #eb3434;" {% endif %}>
            <p>{{ moisture_level.created_at }}</p>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
